# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# python
.pytest_cache/
.pytype/
.vscode
*.pyc

# customized
__pycache__/
arora/quadtree/lib/build/
arora/quadtree/rmst/build/
.log/*
outputs/
data/*